<!DOCTYPE html>
<html>
<head>
    <title>NexCart</title>
</head>

<body>

<h2>🛒 NexCart</h2>

<input id="user" placeholder="Username">
<input id="pass" type="password" placeholder="Password">

<button onclick="register()">Register</button>
<button onclick="login()">Login</button>
<button onclick="openCart()">Go to Cart</button>

<div id="products"></div>

<script>
let currentUser = null;
let allProducts = [];

async function loadProducts(){
    let res = await fetch("/products");
    allProducts = await res.json();

    let html = "";
    allProducts.forEach(p=>{
        html += `
            <div>
                <img src="${p.img}" width="100">
                <h3>${p.name}</h3>
                <p>₹${p.price}</p>
                <button onclick="addToCart('${p.name}', ${p.price})">
                    Add to Cart
                </button>
            </div>
        `;
    });

    document.getElementById("products").innerHTML = html;
}

async function register(){
    await fetch("/register", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body: JSON.stringify({
            username:user.value,
            password:pass.value
        })
    });
    alert("Registered");
}

async function login(){
    let res = await fetch("/login", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body: JSON.stringify({
            username:user.value,
            password:pass.value
        })
    });

    let data = await res.json();

    if(data.user_id){
        currentUser = data.user_id;
        alert("Login success");
    } else {
        alert("Login failed");
    }
}

async function addToCart(name, price){
    if(!currentUser){
        alert("Login first!");
        return;
    }

    await fetch("/add-to-cart", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body: JSON.stringify({
            name, price, user_id: currentUser
        })
    });

    alert("Added");
}

function openCart(){
    if(!currentUser){
        alert("Login first!");
        return;
    }

    localStorage.setItem("user_id", currentUser);
    window.location.href = "/cart-page";
}

loadProducts();
</script>

</body>
</html>
