<!DOCTYPE html>
<html>
<head>
<title>NexCart</title>
</head>

<body>

<h2>🛒 NexCart</h2>

<button onclick="openProfile()">Profile</button>

<br><br>

<input id="user" placeholder="Username">
<input id="pass" placeholder="Password">

<button onclick="register()">Register</button>
<button onclick="login()">Login</button>

<h3>Products</h3>
<div id="products"></div>

<script>
async function load(){
let r=await fetch("/products");
let d=await r.json();

let h="";
d.forEach(p=>{
h+=`${p.name} ₹${p.price}
<button onclick="add('${p.name}',${p.price})">Add</button><br>`;
});
products.innerHTML=h;
}

async function register(){
await fetch("/register",{method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({username:user.value,password:pass.value})});
alert("Registered");
}

async function login(){
let r=await fetch("/login",{method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({username:user.value,password:pass.value})});
let d=await r.json();
alert(d.message);
}

async function add(n,p){
let r=await fetch("/add-to-cart",{method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({name:n,price:p})});
let d=await r.json();
alert(d.message);
}

function openProfile(){
window.location="/profile";
}

load();
</script>

</body>
</html>
